*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;
}


main{
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 1rem;

}

main .left , main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;

}

main .left{
   background-color: #891c1c;
   position: relative;
}

.left .code ,.code pre{
  height: 100%;
  width: 100%;
  margin: 0;
  border-radius: 0.7rem;
  background-color: #000000c6;

}

main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: rgb(219,219,255);
  color: #000000;
  padding: 0.5rem 2rem ;
  cursor:pointer;
  user-select: none;
}

main .right{
  background-color: rgb(201, 196, 196);
  overflow: auto;
  ::-webkit-scrollbar{
    display:none;
  }
  font-size: medium;


}
